$center: center;

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./images/page_background.png");
  background-size: cover;
  background-position: $center;
  background-repeat: no-repeat;
  min-width: 320px;
  justify-content: $center;
  align-items: $center;
}
