.switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__checkbox:checked+.switch__slider:before {
  background: #fff;
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
