@import "__back-button/form-container__back-button";
@import "__logo/form-container__logo";

.form-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 566px;
  height: 374px;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 0 25px 1px black;
  backdrop-filter: blur(8px) brightness(170%);
  font-family: 'Helvetica-Neue', Helvetica, sans-serif;
}


@media screen and (max-width: 768px) {
  .form-container {
    width: calc(100vw - 30%);
  }
}



