.form__submit-button {
  background: transparent;
  border: 1px solid white;
  color: white;
  opacity: 1;
  font-size: 12px;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 24px;
  width: 121px;
  cursor: pointer;
  margin: auto;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2.53333px;
}

.form__submit-button:hover {
  color: black;
  background: white;
}

.form__submit-button_disabled {
  opacity: 0.4;
}

.form__submit-button_validated:hover {
  color: black;
  background: white;
}
